#app * {
  border-radius: 0.5rem;
  background-color: #2A2141 !important;
}

#app {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas:
  'A B'
  'A C';
  gap: 3rem;
  place-content: center;
  
  height: 100vh;
  margin-top: 3.4375rem;  
}

@media (max-width: 480px) {
  #app{
    display: flex;
    flex-direction: column;

    max-width: 200px !important;

    height: auto;
    padding-block: 3.75rem;
    margin-left: 0.62rem;
    /* margin-top: 100px; */
  }
}

.player h1{
  font-size: 1.5rem;
  color: #E1E1E6;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.player p {
  color: #E1E1E6;
  
  font-size: 1.1875rem;
  font-weight: regular;
  opacity: 0.67;
}


.control-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
}

.track {
  position: relative;
  margin-top: 1.75rem;
}

.track::before {
  content: '';
  height: 6px;
  width: 100%;
  display: block;
  background-color: #d9d9d9;
  opacity: 0.3;
  border-radius: 9.60297px;
  
  position: absolute;
}

.track::after {
  content: '';
  height: 0.375rem;
  width: 80%;
  display: block;
  background-color: #d9d9d9;
  
  border-radius: 9.60297px;
}

.track-time {
  width: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  
  font-size: 0.87rem;
  color: #c4c4cc;
  opacity: 0.7;

}

.header-player-2, .header-player-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player-2 img, #player-3 img {
  width: 5.25rem;
  height: 5.25rem;
  object-fit: cover;
}


#player-1 {
  grid-area: A;

  display: flex;
  justify-content: center;
  padding: 1.81rem; 

  height: 31.12rem;
  width: 16.6rem;  
}

#player-1 img{
  height: 11.8rem;
  width: 11.8rem;

  object-fit: cover;
}




#content-player-1 {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(100% - 2* (2.3rem));
  height: calc(100% - 2* (2.3rem));
}


.title-player-1{
  margin-top: 1.75rem;
  height: 3.28rem;
  width: 11.85rem;
}


#control-player-1 {
  width: 100%;
}


#player-2 {
  grid-area: B;
  height: 16.25rem;
  width: 22.3rem;
  padding: 1.81rem;

  display: flex;
  flex-direction: column;
}


#player-3 {
  grid-area: C;
  height: 12.43rem;
  width: 22.3rem;
  padding: 1.81rem;
  
  display: flex;
  flex-direction: column;
}

